:root {
  --clr-lightblue: #70C8F2;
  /* --clr-lightblue-secondary: #04A2EB; */
  --clr-lightblue-secondary: #2682ad;
  --clr-gray: #909090;
  --clr-white: #EAF7FD;
  --clr-background: #060606;
  --clr-background-secondary: #202020;

  /* Font sizes */
  --fs-900: clamp(2.7994rem, 1.9644rem + 4.175vw, 5.7219rem);
  --fs-800: clamp(2.3325rem, 1.6911rem + 3.2071vw, 4.5775rem);
  --fs-700: clamp(1.9438rem, 1.4529rem + 2.4545vw, 3.6619rem);
  --fs-600: clamp(1.62rem, 1.2457rem + 1.8714vw, 2.93rem);
  --fs-500: clamp(1.35rem, 1.0661rem + 1.4196vw, 2.3438rem);
  --fs-400: clamp(1.125rem, 0.9107rem + 1.0714vw, 1.875rem);
  --fs-300: clamp(0.9375rem, 0.7768rem + 0.8036vw, 1.5rem);
  --fs-200: clamp(0.7813rem, 0.6616rem + 0.5982vw, 1.2rem);
  --fs-100: clamp(0.6513rem, 0.563rem + 0.4411vw, 0.96rem);
}

/***************** CSS RESET *****************/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html {
  font-size: 62.5%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: var(--clr-background);
  color: var(--clr-white);
}

/***************** UTILITY CLASSES *****************/
/*** Layout ***/
.fit-content {
  width: fit-content;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-1 {
  flex: 1;
}

.d-grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.grid-cols-1 {
  grid-template-columns: 8vw 1fr 8vw;
}

.grid-cols-2 {
  grid-template-columns: 8vw repeat(2, minmax(0, 1fr)) 8vw;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-1 > *,
.grid-cols-2 > :first-child {
  grid-column: 2;
}

.grid-cols-3 {
  --gap: 3rem;
}

.items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.center-self {
  align-self: center;
  justify-self: center;
}

.margin-inline-auto {
  margin-inline: auto;
}

.max-width {
  max-width: 1440px;
  margin-inline: auto;
}

/*** Text ***/
/* Font size */
.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }
.fs-100 { font-size: var(--fs-100); }

/* Font weight */
.fw-900 { font-weight: 900; }
.fw-800 { font-weight: 800; }
.fw-400 { font-weight: 400; }
.fw-300 { font-weight: 300; }

.line-1 { line-height: 1.25; }
.text-center { text-align: center; }
.text-uppercase { text-transform: uppercase; }

/*** Color ***/
.text-blue {
  color: var(--clr-lightblue);
}

/***************** COMPONENTS *****************/
/* Button */
a {
  padding: 1.5rem 4rem;
  text-decoration: none;
  border: 2px solid transparent;
  border: none;
  position: relative;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  cursor: pointer;
}

a:active {
  transform: translateY(-5px);
}

a:not(header > a, .rates a) {
  margin-top: 4rem;
}

.main-button {
  background-color: transparent;
  border: none;
  overflow: hidden;
  color: var(--clr-white);
  border: 2px solid var(--clr-lightblue);
  border-radius: 5px;
}

.main-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background-color: var(--clr-lightblue);
  border-color: transparent;
  border-radius: 50%;
  transform: translate(-50px, -120px) scale(0.1);
  opacity: 0;
  z-index: -1;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.main-button:hover::after {
  opacity: 1;
  transform-origin: 150px 150px;
  transform: scale(1) translate(-50px, -120px);
}

/* Separator */
.separator {
  width: 80%;
  height: 2px;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), var(--clr-lightblue) 50%, rgba(255, 255, 255, 0));
  margin-inline: auto;
  margin-bottom: 5rem;
}

/***************** CONTENT *****************/
/* Header */
header {
  padding: 3rem;
}

/* Hero */
main {
  position: relative;
  padding-block: 10rem;
}

main section {
  text-align: center;
}

main section h1 {
  width: 85%;
  margin-top: 2rem;
  margin-inline: auto;
}

main section p {
  letter-spacing: 3px;
}

main iframe {
  margin-top: 4rem;
  width: 100%;
  border: 1px solid var(--clr-lightblue);
  padding: 2rem;
  border-radius: 5px;
  grid-row: 2;
}

.summary {
  margin-top: 4rem;
}

.summary article:hover {
  box-shadow:
      0 0 0 #fff,
      0 0 0.1rem var(--clr-lightblue),
      0 0 1.2rem var(--clr-lightblue),
      inset 0 0 1rem var(--clr-lightblue);
}

main article {
  border: 1px solid var(--clr-lightblue);
  padding: 2.5rem;
  border-radius: 5px;
  transition: all .3s ease;
}

main article:hover {
   transform: translateY(-1.25rem);
}

main article p {
  margin-top: 1rem;
}

.scroll-down svg {
  transition: all .3s ease;
}

.scroll-down:hover svg {
  transform: translateY(10px);
}

/* Progress */
.progress {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 8vw 1fr 8vw;
  position: relative;
}

.progress .step {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 10rem 1fr;
  padding: 5rem;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 49.92%;
  height: 100%;
  width: 2px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), var(--clr-white) 50%, rgba(255, 255, 255, 0));
}

.track {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.ball {
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--clr-lightblue);
  position: sticky;
  top: 50vh;
}

.step ul {
  margin-top: 2rem;
  margin-left: 20px;
}

.step ul li {
  list-style-image: url("/bullet.svg");
  margin-top: 10px;
}

.step img {
  width: 100%;
}

/* Benefits / What you will learn */
.benefits {
  margin-top: 10rem;
}

.benefits article {
  margin-top: 2rem;
  padding: 3rem;
  background-color: var(--clr-background-secondary);
  border: 1px solid var(--clr-gray);
  border-radius: 5px;
  transition: border .3s ease;
  gap: 5rem;
}

.benefits article:hover {
  border-color: var(--clr-lightblue);
}

.benefits article img {
  width: 40%;
  border-radius: 5px;
}

.benefits article .content p {
  margin-top: 2rem;
}

/* Warranty */
.warranty {
  margin-top: 10rem;
  padding-block: 5rem;
  background-color: var(--clr-lightblue-secondary);
  background-image: url("/money-pattern.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Testimonials */
.testimonials {
  margin-top: 10rem;
  row-gap: 4rem;
}

.testimonial-card {
  border-radius: 5px;
  padding: 3rem;
  background-color: var(--clr-background-secondary);
}

.testimonial-card {
  border: 1px solid transparent;
  gap: 2rem;
  transition: border .3s ease;
}

.author {
  gap: 1.6rem;
}

.author-info span {
  color: var(--clr-gray);
}

.testimonial-card:hover {
  border-color: var(--clr-lightblue);
}

/* Book a call */
.book-call {
  margin-top: 10rem;
}

/* Financing */
.financing {
  margin-top: 10rem;
}

.financing article {
  border-radius: 5px;
  padding: 5rem;
  background-color: var(--clr-background-secondary);
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.financing article img {
  width: 80%;
}

.rates {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
}

.rates-title {
  grid-column: span 2;
  margin-bottom: 1rem;
}

.rates div:not(.rates-title) {
  background-color: var(--clr-background);
  border-radius: 5px;
  padding: 2rem;
  border: 1px solid transparent;
  transition: all .3s ease;
  display: flex;
  align-items: center;
  gap: 5px;
}

.rates div:hover {
  border-color: var(--clr-lightblue);
}

.rates a {
  grid-column: span 2;
}

/***************** MEDIA QUERIES *****************/
@media (width < 1268px) {
  /* Hero */
  main section h1 {
    width: 100%;
  }

  /* Financing */
  .financing article {
    padding: 5rem;
    gap: 3rem;
    grid-template-columns: .4fr .6fr;
  }
}

@media (width < 980px) {
  /*Hero*/
  .summary {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .summary article:last-child {
    grid-column: 1 / span 2;
  }

  /* Progress */
  .progress .step {
    grid-template-columns: 3rem 1fr;
    padding: 0;
  }

  .progress-bar {
    position: absolute;
    top: 0;
    left: calc(8vw + 1.5rem);
    height: 100%;
  }

  .step img {
    width: 50%;
  }

  .step .track {
    grid-column: 1;
    grid-row: 1;
  }

  .step-content {
    margin-top: 4rem;
    grid-column: 2;
    width: 70%;
  }

  /* Benefits */
  .benefits article {
    flex-direction: column;
  }

  .benefits article img {
    width: 100%;
  }

  /* Financing */
  .financing article {
    padding: 5rem;
    gap: 3rem;
    grid-template-columns: 1fr;
  }

  .financing article img {
    width: 50%;
  }
}

@media (width < 580px) {
  /* Financing */
  .financing article {
    padding: 3rem;
  }

  .rates div:not(.rates-title) {
    grid-column: span 2;
  }

  /* Progress */
  .step-content {
    grid-column: 2;
    width: 90%;
  }
}

@media (width < 450px) {
  /* Hero */
  .summary article {
    grid-column: span 2;
  }
}